/* Import some stylish clean sans font from google fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Some resets */
* { margin: 0; padding: 0; }
body { font-family: 'Open Sans', sans-serif; 
    font-weight: 400; font-size: 16px; color: #333;
    background: #0a0a0a;
    color: #fafafa
}

/* Let's get this party started */
#container { width: 90%; margin: auto;}

/* Center everything h1, h2 and p */

h1, h2, h3,p, a {
    text-align: center;
    margin-top: 1rem;
}

img {
    display: block;
    margin: 1rem auto;
    width: 80%;
    height: auto;
}

.flex {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* a tags should be white with an underline */
a {
    color: #fafafa;
    text-decoration: underline;
}